{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "import", "mocha", "chai-friendly"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"settings": {
		"import/resolver": {
			"typescript": {
				"project": ["tsconfig.json"]
			}
		}
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": ["tsconfig.json"]
	},
	"rules": {
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/no-explicit-any": "error",
		"@typescript-eslint/no-shadow": "error",
		"@typescript-eslint/explicit-module-boundary-types": "error",
		"@typescript-eslint/no-empty-function": [
			"error",
			{ "allow": ["constructors"] }
		],
		"import/prefer-default-export": "off",
		"import/no-import-module-exports": "off",
		"no-underscore-dangle": "off",
		"class-methods-use-this": "off"
	},
	"overrides": [
		{
			"files": ["**/*.spec.ts", "test/**/*.ts"],
			"env": {
				"mocha": true
			},
			"extends": ["plugin:mocha/recommended"],
			"rules": {
				"@typescript-eslint/ban-ts-comment": "off",
				"@typescript-eslint/dot-notation": [
					"error",
					{ "allowPattern": "RouteGuide" }
				],
				"@typescript-eslint/no-explicit-any": "off",
				"@typescript-eslint/no-empty-function": "off",
				"@typescript-eslint/no-unused-expressions": "off",
				"@typescript-eslint/no-unused-vars": [
					"error",
					{ "varsIgnorePattern": "unused" }
				],
				"chai-friendly/no-unused-expressions": "error",
				"@typescript-eslint/no-var-requires": "off",
				"global-require": "off",
				"import/no-dynamic-require": "off",
				"mocha/no-mocha-arrows": "off",
				"mocha/no-setup-in-describe": "off",
				"no-console": "off",
				"no-new": "off"
			}
		}
	],
	"globals": {
		"NodeJS": true
	}
}
