language: node_js
node_js:
  - 8
  - 10
  - 12
  - 13
os:
  - linux
  - osx
env:
  matrix:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
matrix:
  fast_finish: true
install: npm install --ignore-scripts # ignore postinstall when doing local npm install
script: npm test
after_success: npm run download-checksums
deploy:
- provider: npm
  edge: true
  skip_cleanup: true
  email: pact-foundation@googlegroups.com
  api_key:
    secure: PQIcuHz29WA44/RRHgP7l7kxxYNlI9bPYcaNH0ZW/ZHITpFFBx4AOfD+LoEzTZydpDzaTIZ57ESOhCgIjgv67UH9nLHnJf7i72NrVyfnxk3c1QHb6qeU54oFlOfu1G1OarJX6pC7zxZ0MsMFsCCNHDBiJLNdQTXERFR5T9Xp/4R+Rm8G2hTFr93tvpWiBWbM6jWTCGlJo4E1EZd6xUZGl3YqSvw5wRC+bV04L4d7im8SzkdDJd3Yg7Vtb0F2clEXAV85GFnv8kaM708bQycQeHG++ZRVBnYCVhJu7HRqkAj7DyKZ+gVLzCnsif1LnBcV0q3ZpruIIcKxL5JTJSoLfBcEazYsbNck5EnP2nSPi+e+ga9tDrLRk3Jx059oAvH1CYTqba2NuYIwLIDxnqdmKOKWKpbkjV0pIUM5JHLg5QklRTD6171Oh7cM3Hno9cqgt8yuubi41bRqhfUblcdgPY9DxcjIKmYMWlx/CbHIg6bS49HvR/zFu/G5brMcV9Y3KcoIzxCPLNYU2ZiW7M125qsjLYImK4vB0aCbqpAWYpfpDx+SIPNv//i94/lhgYnbs0L2jC6bXHjukMb3XomJ8LKgXVSvAi4ttukkY4trIcGt6OXJJbVa6lluhMaLWr5KizWpJhGY8+hmLfotQEK6vPF2NGxxcBXoXUk3TMVw8Dg=
  on:
    branch: master
    tags: true
    node: 12
    condition: $TRAVIS_OS_NAME = linux
