language: node_js
node_js:
  - 4
  - 5
  - 6
  - 7
  - 8
os:
  - linux
  - osx
env:
  matrix:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
matrix:
  fast_finish: true
install: npm install --ignore-scripts # ignore postinstall when doing local npm install
script: npm test
before_deploy: npm run download-checksums
deploy:
- provider: npm
  skip_cleanup: true
  email: pact-foundation@googlegroups.com
  api_key:
    secure: 6Ki/PYsGB7WkIJeOXVUnHvXt9Z6ZdREUZAwlAHpMAl9zibQhxLklLGftjVRt44miJrV98Vq8PqCEtI2GToMQqW3/tOMTmGoDEthRsK/KmBLAq7ALtfaQFQ6m9q5W9wDZnZ6FCOk3K140q3Bk5N4zZm7kjfZmE6Ytdl1KPzu0RrX8rUJa7PHL3kH4m+M5a1fXfeWpykNu+oCpbW+GNGbeUk9ORYGzgvmfUCCjxSBXM6ReUusHJI14Q6M7X7/6rsEUY2cNQIa5fVo/onoDAB8wVfvCQGfvprz4rJ8bKH14v6W+YXrgk0YGjvJd23r9AJwN2Y5yjvSBWcvx8k52I5bg1xxkqTL7nzADyuTRj27zqm2nGDbBRMeFZMSbbYreWDrRe1/DfT5G7g/HZ6MR/RztBiQDdFobk1BsOE3LeS/g6y8Ol9zjF0n1Re3eOjdB1WuKXFkOR2IYCneDlIoYAONW+JKDNEjFTAxiEDFgkzrrf5SwaO4kPJ59VEntCOCkPuPK6RfblSXa9WtD+qwd8yI2MTGjX718VS8YQAyKQYvuDfUDWBTIIx9t2AlBxgGAWfxpldXgG3yG6gvcHVSEAxzd73FMyv77HCyNESrlRnKDdxQXNi7IYcn6RjAiWh/xuGX68xTe4FMhuT1Ev4thl2Uxgj+6p9p0xBGLbrm+urzLuoc=
  on:
    branch: master
    tags: true
    node: 6
