name: Build and test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:

  create_pre_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - run: GH_CREATE_PRE_RELEASE=true ./script/ci/release.sh
        if: github.ref == 'refs/heads/master' && env.ACT != true && runner.os == 'Linux'
        env:
          GITHUB_TOKEN: ${{ github.token }}

  prebuild:
    needs: [create_pre_release]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        node-version: [20]
        os: [
            ubuntu-latest,
            macos-latest,
            macos-15-intel,
            windows-latest
          ]
        docker: [false]
        alpine: [false]
        arch: ['amd64']
        include:
          - os: ubuntu-24.04-arm
            docker: false
            alpine: false
            arch: arm64
          - os: ubuntu-24.04-arm
            docker: true
            alpine: true
            arch: arm64
          - os: ubuntu-latest
            docker: true
            alpine: true
            arch: amd64
          - os: macos-14
            docker: false
            alpine: false
            arch: arm64
    name: Prebuild ${{ matrix.docker == true && matrix.alpine == true && 'linux-musl' || matrix.docker == true && matrix.alpine == false && 'linux' || matrix.os }}-${{ matrix.arch }}

    env:
      NODE_VERSION: ${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        if: github.ref == 'refs/heads/master' || contains(github.event.pull_request.title, '(rebuild)')
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        if: github.ref == 'refs/heads/master' || contains(github.event.pull_request.title, '(rebuild)')
        with:
          node-version: ${{ env.NODE_VERSION }}

      - if: ${{ runner.os == 'Windows' && ( github.ref == 'refs/heads/master' || contains(github.event.pull_request.title, '(rebuild)')) }}
        run: echo "ONLY_DOWNLOAD_PACT_FOR_WINDOWS=true" >> $GITHUB_ENV
      - if: ${{ (matrix.docker == true && matrix.alpine == true) && (github.ref == 'refs/heads/master'  || contains(github.event.pull_request.title, '(rebuild)')) }}
        name: prebuild linux ${{ matrix.arch }} musl
        run: docker run -v $PWD:/home --platform linux/${{ matrix.arch }} --rm node:20-alpine bin/sh -c 'apk add bash && cd /home && bash -c "/home/script/ci/prebuild-alpine.sh" && rm -rf ffi node_modules'

      - if: ${{ (matrix.docker == true && matrix.alpine != true )&& (github.ref == 'refs/heads/master'  || contains(github.event.pull_request.title, '(rebuild)')) }}
        name: prebuild linux ${{ matrix.arch }}
        run: docker run -v $PWD:/home --platform linux/${{ matrix.arch }} --rm node:20 bin/bash -c 'cd /home && /home/script/ci/prebuild.sh && rm -rf ffi node_modules'

      - run: sudo chown -R $(id -u):$(id -g) prebuilds
        if: ${{ matrix.docker == true && (github.ref == 'refs/heads/master'  || contains(github.event.pull_request.title, '(rebuild)')) }}

      - run: ./script/ci/prebuild.sh
        if: ${{ matrix.docker != true && (github.ref == 'refs/heads/master'  || contains(github.event.pull_request.title, '(rebuild)')) }}

      - name: Upload prebuild for ${{ runner.os }}-${{ runner.arch }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: github.ref == 'refs/heads/master' || contains(github.event.pull_request.title, '(rebuild)')
        with:
          path: prebuilds/*.tar.gz
          name: artifact-${{ matrix.docker == true && matrix.alpine == true && 'linux-musl' || matrix.docker == true && matrix.alpine == false && 'linux' || matrix.os }}-${{ matrix.arch }}

      - run: GH_PRE_RELEASE_UPLOAD=true ./script/ci/release.sh
        if: github.ref == 'refs/heads/master' && env.ACT != true
        env:
          GITHUB_TOKEN: ${{ github.token }}

  test:
    runs-on: ${{ matrix.os }}
    needs: [prebuild]
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22, 24]
        os: [macos-14, macos-15-intel, macos-latest, ubuntu-latest, windows-latest, ubuntu-24.04-arm]
        docker: [false]
        include:
          - os: ubuntu-24.04-arm
            docker: true
            alpine: true
            arch: arm64
            node-version: 22
          - os: ubuntu-latest
            docker: true
            alpine: true
            arch: amd64
            node-version: 22
          - os: ubuntu-24.04-arm
            docker: true
            alpine: true
            arch: arm64
            node-version: 20
          - os: ubuntu-latest
            docker: true
            alpine: true
            arch: amd64
            node-version: 20
          - os: ubuntu-24.04-arm
            docker: true
            alpine: true
            arch: arm64
            node-version: 24
          - os: ubuntu-latest
            docker: true
            alpine: true
            arch: amd64
            node-version: 24

    name: Test ${{ matrix.docker == true && matrix.alpine == true && 'linux-musl' || matrix.docker == true && matrix.alpine == false && 'linux' || matrix.os }}-${{ matrix.arch }}-node-${{ matrix.node-version }}

    env:
      NODE_VERSION: ${{ matrix.node-version }}
      LOG_LEVEL: debug

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Download prebuilds
        if: github.ref == 'refs/heads/master' || contains(github.event.pull_request.title, '(rebuild)')
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      - run: FETCH_ASSETS=true REPO=pact-foundation/pact-js-core ./script/ci/check-release-libs.sh --fetch-assets
        if: ${{ github.ref != 'refs/heads/master' && !contains(github.event.pull_request.title, '(rebuild)')}}
        env:
            GITHUB_TOKEN: ${{ github.token }}

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - if: runner.os == 'Windows'
        run: echo "ONLY_DOWNLOAD_PACT_FOR_WINDOWS=true" >> $GITHUB_ENV
      - if: matrix.os == 'macos-14' ||  matrix.os == 'macos-latest'
        run: brew install protobuf

      - run: LOG_LEVEL=debug ./script/ci/unpack-and-test.sh
        if: ${{ matrix.docker != true }}

      - if: ${{ matrix.docker == true && matrix.alpine == true && matrix.arch == 'amd64' && matrix.os == 'ubuntu-latest' }}
        name: test linux amd64 musl
        run: docker run -v $PWD:/home -e NODE_VERSION=${{ matrix.node-version }} --platform linux/${{ matrix.arch }} --rm node:${{ matrix.node-version }}-alpine bin/sh -c 'apk add jq gettext-envsubst bash curl gcompat file && cd /home && /home/script/ci/unpack-and-test.sh'

      - if: ${{ matrix.docker == true && matrix.alpine == true && matrix.arch == 'arm64' && matrix.os == 'ubuntu-24.04-arm' }}
        name: test linux arm64 musl
        run: docker run -v $PWD:/home -e NODE_VERSION=${{ matrix.node-version }} --platform linux/${{ matrix.arch }} --rm node:${{ matrix.node-version }}-alpine bin/sh -c 'apk add jq gettext-envsubst bash curl file protoc protobuf-dev && cd /home && /home/script/ci/unpack-and-test.sh'

  release_dry_run:
    runs-on: ubuntu-latest
    needs: [create_pre_release, prebuild]
    if: github.ref == 'refs/heads/master'

    env:
      NODE_VERSION: 20

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'

      - name: 'release - dry run: ${{ env.DRY_RUN }}'
        id: publish
        run: script/ci/release.sh
        env:
          GITHUB_TOKEN: ${{ github.token }}
          DRY_RUN: true

      - run: echo "New Release will be v${{ steps.publish.outputs.version }}"
