name: Publish and release

on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - release-triggered

# Setup npm trusted publishing
permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      NODE_VERSION: 20

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'

      - name: "release"
        id: publish
        run: script/ci/release.sh
        env:
          GITHUB_TOKEN: ${{ github.token }}
